*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container1{
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 50px 300px;

}
.d1{
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.h1{
    width:600px;
    color: white;
    border: 1px white solid;
    padding: 10px;
    margin-left: 300px;
    margin-top: 150px;
    font-size: 75px;
}

.container2{
    background-color: white;
    position: relative;
    
}

.img1{
    margin-left: 300px;
    margin-top: 100px;
    width: 900px;
}
.text{
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: white;
    width: 700px;
    position: absolute;
    top: 60%;
    left: 53%;
    z-index: 2;
    padding: 100px;
}
.h2{
    font-size: 50px;
}
.btn{
    border: 1px solid black;
    color: black;
    z-index: 3;
    padding: 10px;
    
}